*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    background: linear-gradient(68.15deg, #47383b 16.62%, #8E5D52 85.61%);
}
.info .titulopan{
    align-items: center;
}
.link-item{
    border: 2px solid rgb(83, 20, 34);
    color: #fff;
    padding: 9px;
    border-radius: 15px;
}
.link-item:hover{
    position: static;
    background-color: rgb(83, 20, 34);
    color: white;
    transition: 0.4s;
    transition: box-shadow .2s;
}
.d-block{
    color: white;
}
.card-header{
    background: linear-gradient(68.15deg, #47383b 16.62%, #8E5D52 85.61%);
    text-align: center;
}

/* CSS */
.button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.button-42:hover {
  box-shadow: rgba(153, 102, 80, 0.5) 0 3px 8px;
}

