<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Esse site tem como base organizar e trazer eficiência para o controle e gerenciamento do seus estoques.">
    <title>Controle de estoques WIKA</title>
    <link rel="stylesheet" type="text/css" href="../estoque.css">
</head>
<body>
    <header>
        <img src="../img/logo/logo_size_invert.jpg" alt="logo-wika" style="border-radius: 100%;" >
        <nav>
          <div>
              <ul>
                <li><strong><a href="home.html">Home</a></li></strong>
                 <li><strong><a href="../cad.produtos.php">Cadastrar</a></li></strong>
                 <li><strong><a href="../listagem.php">Listagem</a></li></strong>
              </ul>
          </div> 
        </nav>
    </header>
    <section class="banner">
        <h1>A WIKA Estoques</h1>
        <p>Cadastre seu Estoque</p>
        <a href="../cad.produtos.php" id="cadastro-btn">     Estoque     </a>
    </section>
    </main>
</body>
</html>